@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

body{

    background-color: rgb(158, 158, 158);
}

.brandname {
  display: flex;
  justify-content: center;
  /* top: 30px; */
  
}

.brandtag {
  margin-top: 60px;
  font-family: "Alumni Sans Inline One", cursive;
  font-size: larger;
  cursor: pointer;
  
  
}

.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}

.wrapper nav {
  display: flex;
  justify-content: center;
}

nav .items {
  display: flex;
  max-width: 730px;
  width: 100%;
  justify-content: space-between;
  color: black;
}

nav .items .item {
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 500px;
  color: black;
  border: 3px solid  rgb(18, 152, 41);
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: ;
  cursor: pointer; 

  


}

nav .item:hover,
nav .items .active {
  background-color: rgb(18, 152, 41);
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.gallery .image {
  width: calc(100% / 4);
  padding: 5px;
  
}
.gallery .image.hide {
  display: none;
}

.gallery .image.show {
  /* display: block; */
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
  border:3px solid  rgb(18, 152, 41);
  border-radius: 10px;
}

.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  border-radius: 8px;

}

.gallery .image img:hover {
  transform: scale(1.2);
  
}

@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 700px) {
  nav .items {
    max-width: 600px;
  }

  nav .items .item {
    padding: 7px 15px;
  }
}

@media (max-width: 600px) {
  nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav .items .item {
    margin: 5px;
  }

  .gallery .image {
    width: 100%;
  }
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 300px;
  width: 70%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  font-weight: 500;
  margin-left: 5px;
}
.details .icon {
  color:rgb(7, 180, 7);
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
  display: block;
}
